*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto,sans-serif;
}

.container{
  padding: 1% 2%;
}

@media (max-width:1920px) {
  .container{
    max-width: 1620px;
  }
  
}

@media (max-width:1620px) {
  .container{
    max-width: 1480px;
  }
  
}

@media (max-width:1480px) {
  .container{
    max-width: 1440px;
  }
  
}

@media (max-width:1440px) {
  .container{
    max-width: 1400px;
  }
  
}

.section__title2{
  padding-top:5px;
}

.section__img{
  width: 8%;
  height: 8%;
  padding-top: 2%;
   border-radius: 20%;
}

.section__portfolio{
  padding-top: 2%;
}

.section__jobs{
  color: #597da3;
}

.section__ul{
  padding-top: 5px;
}

.section__link{
  padding-top: 5px;
  color: #597da3;
}

.section__contact{
  padding-top: 2%;
}

.section__socialmedia{
  padding-top: 1%;
}


.section__title{
  color: #597da3;
}

.section__contacts{
  color: #597da3;
}

.section__info{
  padding-top: 5px;
}

.section__works{
  padding-top: 2%;
}


.section__place{
   color: #597da3;
}

.section__date{
  padding-top: 1%;
  display: flex;
  column-gap: 30px;
}

.section__date2{
  padding-top: 5px;
  display: flex;
  column-gap: 30px;
}

.section__stack{
  padding-top:2%;
  color: #597da3;
}

.section__skills{
   padding-top: 2%;
   color: #597da3;
   display: flex;
   column-gap: 1%;
}

.section__namestack1{
  width: 4%;
  height: 8vh;
  background: url('../icons/free-icon-html5-226269\ \(1\).svg') center/cover;
}

.section__namestack2{
  width: 4%;
  height: 8vh;
  background: url('../icons/free-icon-css-3-732190.svg') center/cover;
}

.section__namestack3{
  width: 4%;
  height: 8vh;
  background: url('../icons/free-icon-javascript-1548740.svg') center/cover;
}

.section__namestack4{
  width: 4%;
  height: 8vh;
  background: url('../icons/react.svg') center/cover;
}
.section__namestack5{
  width: 4%;
  height: 8vh;
  background: url('../icons/icons8-redux.svg') center/cover;
}

.section__namestack6{
  width: 4%;
  height: 8vh;
  background: url('../icons/nodejs.svg') center/cover;
}

.section__namestack7{
  width: 4%;
  height: 8vh;
  background: url('../icons/icons8-express.svg') center/cover;
}









