*{
  margin: 0;
  padding: 0;
}
.header{
  width: 20%;
  height: 101%;
  background:#597da3;
}

.header__container{
   padding: 15%;
}

.header__img{
   width: 100%;
   height: 400px;
   background:url('../image/7kvdfgrVQtY.jpg') center;
   background-size:cover;
   border-radius: 10px;
}

.header__telegram{
   padding-top:20%;
   width: 15%;
   height:15%;
   display: flex;
   column-gap:20px;
   color:ghostwhite;
   font-size: 20px;
}
.header__account{
   padding-top: 5px;
}

.telegram{
  max-width:100%;
  max-width:100%;
}


.header__call{
  padding-top:12%;
  width: 15%;
  height:15%;
  display: flex;
  column-gap:20px;
  color:ghostwhite;
  font-size: 20px;
}

.call{
  max-width:100%;
  max-width:100%;
}

.header__email{
  padding-top:12%;
  width: 15%;
  height:15%;
  display: flex;
  column-gap:20px;
  color:ghostwhite;
  font-size: 20px;
}

.header__send{
  padding-bottom: 5px;
}

.email{
  max-width:100%;
  max-width:100%;
}

.about__title{
  text-align: center;
  color:ghostwhite;
}
.about__subtitle{
  text-align: center;
  color:ghostwhite;
  line-height: 20px;
}

.about__me{
  padding-top: 12%;
}

.main{
  position: absolute;
  left: 23%;
  bottom:92%
}

.main__education{
  position: relative;
  top: 77px;
}


.main__colledge{
  position: relative;
  top:118px;
  width: 150px;
  height: 50px;
  background-color:rgba(221, 212, 212, 0.849);
  border-radius:10px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main__title{
  padding-top:10%;
  text-align: center;
  font-weight: 600;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main__title1{
  position: relative;
  top: 125px;
  left: 5px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main__title2{
  position: relative;
  top: 130px;
  left: 5px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.main__colledge2{
  position: relative;
  top:220px;
  width: 150px;
  height: 50px;
  background-color:rgba(221, 212, 212, 0.849);
  border-radius:10px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main__block{
  width: 10%;
  height:10%;
  
  display: flex;
}

.main__icons{
 display: flex;
 position: relative;
 top: 230px;
}

.main__img{
  max-width: 100%;
  max-height: 100%;
}

.main2{
  position:absolute;
  left: 56%;
  bottom:28%;
  width: 40%;
  height: 50%;
  background:#597da3;
  border-radius:10px;
}

.main2__block{
  width:auto;
  height:10%;
  background-color:rgba(221, 212, 212, 0.849);
  border-radius:10px;
}

.main2__portfolio{
  display: flex;
  justify-content: center;
  padding-left: 12%;
  padding-top: 5%;
}


.first__portfolio{
  width:50%;
  height: auto;
}


.second__portfolio{
  width: 50%;
  height: auto;

}

.main2__title{
   padding-top: 1%;
   font-size: 200%;
   text-align: center;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main2__cloud{
  width: 70%;
  height: 150px;
  background:url('../image/Cloud.png')center;
  background-size:cover;
}
.main2__weather{
  width:70%;
  height: 150px;
  background:url('../image/weather.png')center;
  background-size:cover;
}
.main2__todolist{
  width:70%;
  height: 150px;
  background:url('../image/todo.png')center;
  background-size:cover;
  position: relative;
  top: 8%;

}
.main2__movie{
  width: 70%;
  height: 150px;
  background:url('../image/movie.png')center;
  background-size:cover;
  position: relative;
  top: 8%;
}


.main2__project1{
  color:ghostwhite;
  text-decoration: none;
  text-align: center;
  position: relative;
  top: 4%;
}
.main2__project2{
  color:ghostwhite;
  text-decoration: none;
  text-align: center;
  position: relative;
  top: 10%;

}
.main2__project3{
  color:ghostwhite;
  text-decoration: none;
  text-align: center;
  position: relative;
  top: 4%;
}
.main2__project4{
  color:ghostwhite;
  text-decoration: none;
  text-align: center;
  position: relative;
  top: 10%;
}

.main2__project:hover{
    border-bottom: 1px solid ghostwhite;
}



